<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <title>회원가입</title>
</head>
<body>
<header>
  <h1>회원가입</h1>
  <nav>
    <button id="loginBtn">로그인</button>
    <button id="mainBtn">메인 페이지</button>
  </nav>
</header>

<main>
  <form id="registerForm" method="POST">
    <label for="userid">아이디:</label>
    <input type="text" id="userid" name="userid" required><br>

    <label for="username">이름:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">회원가입</button>
  </form>

</main>

<script src="/js/register.js"></script>
</body>
</html>
