<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tobi.notice.mapper.UserMapper">

    <insert id="registerUser" parameterType="com.example.tobi.notice.model.User">
        INSERT INTO user(id, name, email, phone, password )
        VALUES (#{id}, #{name}, #{email}, #{phone}, #{password});
    </insert>

    <select id="findByEmail" parameterType="long" resultType="com.example.tobi.notice.model.User">
        SELECT * FROM user WHERE email = #{email};
    </select>

</mapper>
