<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tobi.notice.mapper.UserMapper">

    <insert id="registerUser" parameterType="com.example.tobi.notice.model.User">
        INSERT INTO user(name, password, email, phone)
        VALUES (#{name}, #{password}, #{email}, #{phone});
    </insert>

    <select id="findById" parameterType="long" resultType="com.example.tobi.notice.model.User">
        SELECT * FROM user WHERE id = #{id};
    </select>

</mapper>
