body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
    color: white;
}

main {
    padding: 20px;
}

#weatherSection {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}
